
h3{
	text-align:center;
}

.navbar ul{
	list-style: none;
	background-color: rgb(62,95,54);
	padding:15px;
	margin:0px;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 5px;
	
}
.logo img{
	position: absolute;
	margin-top: 10px;
	margin-left:10px;
	height: 50px;
	width: 50px;
	
}
.navbar a{
	width: 100px;
	color: white;
	text-decoration: none;
	margin-left: 50px;
	padding: 10px 5px;
	display: block;
	text-align:center;
	
}

.navbar a:hover{
	background-color: #004263;
	
	
}

.navbar li{
	float: left;	
}


body{
	margin: 0;
    padding: 15px;	
}



main{
	margin-left:20px;
	margin-right:20px;
	margin-bottom: 0px;
}

footer{
	color: rgb(62,95,54);
	background-color: rgb(62,95,54);
	padding:15px;
	margin:-20px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	
}
